<div class="close-box">
    <app-button setId="close" setIcon="pi pi-times" setClass="default-button danger" setTooltip="Fechar"></app-button>
</div>
<div class="modal-form">
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Nome</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Nome</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Nome</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Nome</label>
    </span>
</div>