<app-background></app-background>

<div class="main">
    <div class="toolbar">

        <div class="title-box" routerLink="/">
          <p class="title">JooJ</p>
          <p class="title subtitle">Hotel</p>
        </div>

        <div class="card-chart"  routerLink="/guest-acomodation-controll">
          <button mat-icon-button class="card-chield">
            <mat-icon>book</mat-icon>
          </button>
  
          <div class="card-chart-text">Checkin</div>
        </div>
          
        <div class="card-chart group" routerLink="/guest-controll">
          <button mat-icon-button class="card-chield group">
            <mat-icon>groups</mat-icon>
          </button>
  
          <div class="card-chart-text">Hóspedes</div>
        </div>
    </div>
  </div>
