<div class="close-box">
    <app-button setId="close" setIcon="pi pi-times" setClass="default-button danger" setTooltip="Fechar" (click)="closeModal()"></app-button>
</div>
<div class="modal-form">
    
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Nome completo</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Cpf</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Data de nascimento</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Nascionalidade</label>
    </span>

</div>